*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 70%;
    margin: 20px auto;
    background-color: beige;
    padding-top: 20px;
    min-width: 750px;
  }
.title-3rd{
    position: relative;/*containing block */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
.form-row{
    width: 90%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 5px auto;
    border: 1px dashed blue;
}
.type-text, .type-email{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.type-checkbox{
    margin: 12рx 5рх 5рх Орх;
}
.type-submit{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 1px auto;
}
.type-submit:hover{
    background-color: #45a049;
}
.form-row.success input{/* <div class="form-rov success">.... */
    border: 2px solid green;
}
.form-row.success .message::before{
    color: blue;
    content: "\2713 passed.";
}
.form-row.success .message::before{
    color: blue;
    content: "\2713 passed.";
    font-weight: 900;
    font-size: 1em;
    visibility: visible;
}
.form-row.error input { /* <div class="form-row error">..... */
    border: 2px solid red;
}
label:after{
    content:"";
    padding-right: 30px;
}
.form-row .message{
    visibility: hidden;
    margin: 2px 0 12px 0;
    font-weight: bold;
    font-size: 11px;
}
.form-row.error .message{
    visibility: visible;
    color: red;
}
.container.complete{
    border: 3px groove;
}
.box-languages{
    border: none;
}